@import '@pages/sidepanel/styles/mixins';
@import '@pages/sidepanel/styles/variables';

.active-card{
    gap: 19px;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.active-card-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.active-card-component{
    margin-top: 20px;
    display: flex;
    width: 100%;
}
.active-card-header-title{
    color: var(--color-text);
    font-family: var(--font-primary);;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.back-button{
    cursor: pointer;
}