@import '@pages/sidepanel/styles/mixins';
@import '@pages/sidepanel/styles/variables';

.input-field-container{
    align-self: stretch;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--BCBCBC, #BCBCBC);
}
.custom-input{
    width: 95%;
    padding: 5px;
    border: none;
    height: 34px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--color-text-secondary);
    font-family: var(--font-primary);
}