// Import variables and mixins for use in the component styles
@import '@pages/sidepanel/styles/mixins';
@import '@pages/sidepanel/styles/variables';

// Base styles for the side panel
.side-panel {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100%;
  width: 100%;

  // Dynamic theming can be handled using mixins or functions
  @include themeable-background();
  @include themeable-text();

  .suggestions, .chat-input {
    padding: 1rem;
  }
}
// .App {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   text-align: center;
//   /* height: 100%; */
//   /* padding: 10px; */
//   background-color: #282c34;
// }

// .App-logo {
//   height: 30vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }