// This file will contain global styles that are injected by the GlobalStyle component
@import '@pages/sidepanel/styles/mixins';
@import '@pages/sidepanel/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  @include themeable-background;
  @include themeable-text;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  background-color: $color-background-light;
  color: $color-text-light;
  @include flex-center;
  
  @include respond-to(md) {
    font-size: 0.9rem;
  }

  @include respond-to(sm) {
    font-size: 0.8rem;
  }
}

a {
  color: $color-accent;
  text-decoration: none;
}

button {
  font-family: $font-primary;
}

// Example of using a mixin
@include themeable-background;
