@use 'sass:math';
@import '@pages/sidepanel/styles/variables';

@mixin themeable-background {
    background-color: var(--color-background);
  }
  
@mixin themeable-text {
    color: var(--color-text);
}
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == xl {
      @media (max-width: $breakpoint-xl) { @content; }
    }
  }
  