@mixin themeable-background {
    // background-color: $color-background-light;
    // @media (prefers-color-scheme: dark) {
    //   background-color: $color-background-dark;
    // }
    &.theme-light {
        background-color: $color-background-light;
      }
      &.theme-dark {
        background-color: $color-background-dark;
      }
  }
  
  @mixin themeable-text {
    // color: $color-text-light;
    &.theme-light {
        color: $color-text-light;
      }
      &.theme-dark {
        color: $color-text-dark;
      }
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: $breakpoint-sm) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: $breakpoint-md) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: $breakpoint-lg) { @content; }
    } @else if $breakpoint == xl {
      @media (max-width: $breakpoint-xl) { @content; }
    }
  }
  