:root {
    // Background Color
    --color-primary: #0A1330;
    --color-secondary: #E6E6E6;
    --color-accent: #FFC107;
    --color-background: #F7F8FC; 

    // Text color
    --color-text: #121111;
    --color-text-secondary:#151313 ; 

    // Fonts 
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    // Credit Counter
    --creditcounter-bg-light: #D9D9D9;
    --creditcounter-text-light: #0B1739;

    // Tabs navigation bar
    --tabsNavigation-bg-light: #FFFFFF;
    --tabsNavigation-active-tab-light:#E6EBEC;
    --tabsNavigation-active-tab-text-light:#151313;

    // Cards Theme
    --cards-bg-light: #FEFFFF;
    --cards-title-text-color: #121111;
    --cards-main-icon-color: #161616;
    --cards-boundary: 0.5px solid #EDEDED;
    --cards-boundary-color: #EDEDED;
    --cards-description-color: #333333;

    //Outline Card theme
    --outline-title-color: #151313;
    --outline-card-border: 1px solid #cdcdcd;
    --outline-card-border-color: #EDEDED;
    --outline-card-description-color: #333333;
    
    //small cards
    --small-tag-cards-bg-hover: #EDEDED;


  }
  
  // Define the dark theme colors as CSS variables
.dark-theme {
    --color-background: #0A1330; 
    --color-text: #FFFFFF; 
    --color-text-secondary:#CFCECE ; 

    //credit counter component specific
    --creditcounter-bg-light: #091128;
    --creditcounter-text-light: #FFFFFF;

     // Tabs navigation bar
     --tabsNavigation-bg-light: rgba(87, 93, 255, 0.2);
     --tabsNavigation-active-tab-light:#0A1330;
     --tabsNavigation-active-tab-text-light:rgb(255, 255, 255);

     // Cards Dark Theme
     --cards-bg-light: #0B1739;
     --cards-title-text-color: #FFFFFF;
     --cards-main-icon-color: #E8E8E8;
     --cards-boundary: 1px solid #343B4F;
     --cards-boundary-color: #343B4F;
     --cards-description-color: #6B7280;

     //Outline Card theme
    --outline-title-color: #CFCECE;
    --outline-card-border: 0.5px solid #EDEDED;
    --outline-card-border-color: #EDEDED;
    --outline-card-description-color: #333333;
  
    //small cards
    --small-tag-cards-bg-hover: #1b2236;

}


// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// General or default theme colors
// $color-background: $color-background-light; // Default to light theme
// $color-text: $color-text-light; // Default to light theme