/* ToggleButton.module.css */
#toggle {
    width: 39px;
    height: 27px; /* Added for a fixed height of the toggle button */
    display: flex;
    align-items: center; /* Centers the inner toggle circle */
    padding-left: 5px;
    // background-color: #1a202c;
    border-radius: 1000px;
    cursor: pointer;
    box-shadow: 0px 5px 20px -10px #000000;
    transition: background-color 0.3s ease-in;
    display: flex; // To align the SVG icon
    //justify-content: center; // Center the icon horizontally
}
.dark {
    background-color: #1E1E1E;
  }

  .light {
    background-color: #7FABFF;
  }

  .toggle-icon {
    width: 17px; // Match the size of the toggle inner circle
    height: 17px; // Match the size of the toggle inner circle
    transition: transform 0.3s ease-in;
    background-color: transparent;
  }

  .dark .toggle-icon {
    transform: translateX(20px); // Moves the icon to the right when dark mode is active
  }
  

  